<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New password</title>
</head>
<body>
  <section class="form-registro">
    <form method="post"  action="/updatepass">
      <h4>Ingresa la nueva contraseña</h4>
      <input class="controls" type="password" name="npassword" id="npassword" placeholder="Ingresa la nueva contraseña">
      <button class="buton" type="submit" value="Recuperar" >Confirmar</button>
    </form>
  </section>
</body>
</html>