<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="estilos2.css">
</head>
<body>
    <section class="form-registro">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="nombre" id="nombres" placeholder="Nombre">
        <input class="controls" type="text" name="apellido" id="apellidos" placeholder="Apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Correo">
        <input class="controls" type="password" name="contra" id="contra" placeholder="Contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <button class="buton" type="submit" value="registrar" onclick="desplegar()">Registrarse</button>
        <p><a href="#">¿ya tengo cuenta? </a></p>
    </section>    
    
</body>
</html>